ion-content {
    --background: #F4F6F9;
    --color:black;
}
ion-title{
    color: #00A58E;
    font-size: 1.8em;
    font-weight: 900;
}

.nav-link{
    color: black;
    font-weight: bold;
}
.nav-item .active{
    border-radius: 4px;
    padding-left: 5px;
    color: var(--white-light);
    background-color: #00A58E ;
}
.nav-link:hover{
    color: white;
    background-color: #00A58E;
   // background-color: #DAEDED;
    border-radius: 4px;
    padding-left: 5px;
}
.container{
    margin: auto;
}
.card{
    background-color: var(--white-light);
}