<!-- <ion-header>
  <ion-toolbar>
    <ion-title>listaActividades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
 -->
<ion-header>
  <ion-toolbar>
    <ion-title>
      <a [routerLink]="['/home']" class="p-auto"><ion-icon name="arrow-back-outline"></ion-icon>
        Regresar</a>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div class="container m-auto p-2">
    <ion-breadcrumbs>
      <ion-breadcrumb [routerLink]="['/home']" class="sub-1">Inicio</ion-breadcrumb>
      <ion-breadcrumb class="actual sub-1">Actividades Culturales</ion-breadcrumb>
    </ion-breadcrumbs>  
    <div class="row my-2">
      <div class="col-lg-4 g-4">
        <div class="card card-activity bg-transparent  border-opacity-25">
          <div class="card-header">
            <h5 class=" card-title">Nombre Actividad</h5>
          <!--   <ion-chip class="mt-auto">
              <ion-avatar>
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
              <ion-label>Nombre Encargado</ion-label>
            </ion-chip> -->
          </div>
          <div class="card-body">
            <p class="card-text">Descripción de la actividad</p>
            <ion-item>
              <ion-icon name="calendar-clear-outline" class="text-success"></ion-icon>
              <ion-label class="px-1">Horario 1 / Horario 2</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon name="location-outline" class="text-success"></ion-icon>
              <ion-label class="px-1">Ubicación</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon name="person-outline" class="text-success"></ion-icon>
              <ion-label class="px-1">Encargado</ion-label>
            </ion-item>
          </div>
          <div class="card-footer text-center">
            <a class=" btn-link stretched-link w-100" [routerLink]="['/detalle-actividad']">Más Información - ></a>
          </div>
        </div>
       
      </div>
      <div class="col-lg-4 g-4">
        <div class="card card-activity bg-transparent  border-opacity-25">
          <div class="card-header">
            <h5 class=" card-title">Nombre Actividad</h5>
            <!--   <ion-chip class="mt-auto">
                      <ion-avatar>
                        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                      </ion-avatar>
                      <ion-label>Nombre Encargado</ion-label>
                    </ion-chip> -->
          </div>
          <div class="card-body">
            <p class="card-text">Descripción de la actividad</p>
            <ion-item>
              <ion-icon name="calendar-clear-outline" class="text-success"></ion-icon>
              <ion-label class="px-1">Horario 1 / Horario 2</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon name="location-outline" class="text-success"></ion-icon>
              <ion-label class="px-1">Ubicación</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon name="person-outline" class="text-success"></ion-icon>
              <ion-label class="px-1">Encargado</ion-label>
            </ion-item>
          </div>
          <div class="card-footer text-center">
            <a class=" btn-link stretched-link w-100" [routerLink]="['/detalle-actividad']">Más Información - ></a>
          </div>
        </div>
      
      </div>
    </div>
  </div>
</ion-content>