ion-content {
    --background: #F4F6F9;
}
ion-title{
    color: #00A58E;
    font-size: 1.8em;
    font-weight: 900;
}
.nav-link{
    color: black;
    font-weight: bold;
}
.nav-link:active{
    background-color: #00A58E ;
}
.nav-link:hover{
    color: white;
    background-color: #00A58E;
   // background-color: #DAEDED;
    border-radius: 4px;
    padding-left: 5px;
}
.card-depo{
    background-color: #D3F1E4;
}
.ball-icon{
    color: #50C793;
    font-size: 52px;
}
.card-cultu{
    background-color: #B5CEF3;
}
.music-icon{
   color: #0063F7; 
   font-size: 52px;
}
.card-grupa{
    background-color: #F3D9D0 ;
}
.group-icon{
    font-size: 52px;
    color: #F1595C;
}
.card{
    border: none;
}
.card, .row > .col-md-6{
    text-align: center;
    color: black;
}