<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
 -->
<ion-content class="ion-padding ion-align-items-center">

  <div class="container overflow-hidden">
    <div class="row">
      <div class="col-sm-6">
        <div class="p-3 text-center">
          <img src="../../../assets/img/login.png" class="img-fluid" alt="iniciarSesion">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="p-3">
          <form class="formulario" [formGroup]="miFormulario">
            <div>
              <ion-label position="stacked " class="label">Ingresa tu Usuario</ion-label>
              <ion-input class="input_student" type="email" [pattern]="emailCheck" placeholder="UT*****" formControlName="username"></ion-input>
              <span *ngIf="emailReq()" class="label-help text-danger">Dirección de correo no válida</span>
              <span *ngIf="emailPattern()" class="label-help text-danger">Patrón incorrecto</span>
            </div>
            <div>
              <ion-label position="stacked" class="label pb-2">Ingresa tu Contraseña</ion-label>
              <ion-input class="input_student" type="password" placeholder="Ingrese su contraseña" formControlName="password"></ion-input>
              <span class="form-text text-danger" *ngIf="campoValido('password')">Minimo 8 caracteres</span>
            </div>
            <div class="px-4">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                  Recordar mis Datos
                </label>
              </div>
             <!--  <ion-item class=" pb-2">
                <ion-checkbox slot="start"></ion-checkbox>
                <label class="label">Recordar Datos</label>
              </ion-item> -->
            </div>
          
            <!--   <div>
                <label class="label">Ingresa tu Usuario</label>
                <input type="email" class="input email" placeholder="Ingrese su correo electronico" formControlName="username"
                  [pattern]="emailCheck">
                <span *ngIf="emailReq()" class="form-text text-danger">Dirección de correo no válida</span>
                <span *ngIf="emailPattern()" class="form-text text-danger">Patrón incorrecto</span>
              </div>
              <div>
                <label>Ingresa tu Contraseña</label>
                <input type="password" class="input pass" placeholder="Ingrese su contraseña" formControlName="password">
                <span class="form-text text-danger" *ngIf="campoValido('password')">Minimo 8 caracteres</span>
              </div> -->
            <!-- <a [routerLink]="['/recovery']" class="btn-link">Olvide mi contraseña</a> -->
            <button *ngIf="miFormulario.invalid" disabled class="btn btn-primario my-2 w-100">Iniciar Sesión</button>
            <button *ngIf="miFormulario.valid" type="sumbit" class="btn btn-primario my-2 w-100" (click)="save()">Iniciar
              Sesión</button>
            <a [routerLink]="['/register']" class="btn-link mt-2">¿Olvidaste tu Contraseña?</a>
          </form>
        </div>
      </div>
    </div>
  </div>

  
</ion-content>