<!-- <ion-header>
  <ion-toolbar>
    <ion-title>listaTutorias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
 -->
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>CultSports</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="">
    <ul class="navbar-nav justify-content-end flex-grow-1 p-3">
      <li class="nav-item my-2">
        <a class="nav-link m-auto active" aria-current="page" href="#">Tablero</a>
      </li>
      <li class="nav-item my-2">
        <a class="nav-link" href="#">Documentos</a>
      </li>
      <li class="nav-item dropdown my-2">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Tutorías Deportivas
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" [routerLink]="['/lista-tutorias']">Tutoria Deportiva 1</a></li>
          <li><a class="dropdown-item" href="#">Tutoria 2</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown my-2">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Tutorías Culturales
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" [routerLink]="['/lista-tutorias']">Tutoria Grupal</a></li>
          <li><a class="dropdown-item" href="#">Tutoria 2</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown my-2">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Tutorías Grupales
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" [routerLink]="['/lista-tutorias']">Tutoria Grupal</a></li>
          <li><a class="dropdown-item" href="#">Tutoria 2</a></li>
        </ul>
      </li>
    </ul>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>CultuSports</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="container">
      <div class="  card-home">
        <div class="card-header text-start ">
          <div class="row ">
            <div class="col-md-8 my-auto">
              <h5 class="fw-bold text-uppercase">Lista de Tutorías</h5>
            </div>
            <div class="col-md-4 my-auto text-end">
                <button class="btn btn-addTuto w-50" [routerLink]="['/crud-tutoria']"> Añadir Tutoría</button>
                <!-- <input class="form-control search-bar me-2" type="search" placeholder="Buscar Tutoría" aria-label="Search"> -->
                <!-- <button class="btn btn-primario w-25" type="submit">Buscar</button> -->
            </div>
          </div>
        </div>
        <!-- SEGUNDA TABLA -->
        <div class="card-body mt-4">
          <div class="table-responsive">
            <table class="table text-start">
              <!-- Encabezado de la tabla -->
              <thead>
                <tr>
                  <th scope="col-auto">Nombre Actividad</th>
                  <th scope="col-auto">Tipo</th>
                  <th scope="col-auto">Encargado</th>
                  <th scope="col-auto">Nrm. Encargado</th>
                  <th scope="col-auto">Lugar</th>
                  <th scope="col-auto">Horario</th>
                  <th scope="col-auto" class="text-center">Opciones</th>
                </tr>
              </thead>
              <!-- Cuerpo de la tabla -->
              <tbody>
                <tr>
                  <th scope="row">Acondicionamiento Físico</th>
                  <td> <span class="badge badge-deportiva p-2">Deportiva</span> </td>
                  <td>Nombre Tutoria</td>
                  <td>000-000-0000</td>
                  <td>Ubicación</td>
                  <td>00:00</td>
                  <td class="text-center">
                    <a class=" btn-status badge-deportiva dropdown-toggle" type="button" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      Opciones
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item fw-bold" [routerLink]="['/detalle-tutoria']"><small>Ver Más</small></a></li>
                      <li><a class="dropdown-item fw-bold" [routerLink]="['/crud-tutoria']"><small>Editar</small></a></li>
                      <li><a class="dropdown-item fw-bold btn-danger" href="#"><small>Eliminar</small></a></li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Danza y Canto</th>
                  <td> <span class="badge badge-cultural p-2">Cultural</span> </td>
                  <td>Nombre Tutoria</td>
                  <td>000-000-0000</td>
                  <td>Ubicación</td>
                  <td>00:00</td>
                  <td class="text-center">
                    <a class=" btn-status badge-deportiva dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Opciones
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item fw-bold" [routerLink]="['/detalle-tutoria']"><small>Ver Más</small></a></li>
                      <li><a class="dropdown-item fw-bold" [routerLink]="['/crud-tutoria']"><small>Editar</small></a></li>
                      <li><a class="dropdown-item fw-bold" href="#"><small>Eliminar</small></a></li>
                    </ul>
                  </td>
                </tr>
               <tr>
                  <th scope="row">Origami</th>
                  <td> <span class="badge badge-grupal p-2">Grupal</span> </td>
                  <td>Nombre Tutoria</td>
                  <td>000-000-0000</td>
                  <td>Ubicación</td>
                  <td>00:00</td>
                  <td class="text-center">
                    <a class=" btn-status badge-deportiva dropdown-toggle" type="button" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      Opciones
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item fw-bold" [routerLink]="['/detalle-tutoria']"><small>Ver Más</small></a></li>
                      <li><a class="dropdown-item fw-bold" [routerLink]="['/crud-tutoria']"><small>Editar</small></a></li>
                      <li><a class="dropdown-item fw-bold" href="#"><small>Eliminar</small></a></li>
                    </ul>
                  </td>
                </tr>
                
    
    
              </tbody>
            </table>
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                  <a class="page-link fw-bold">
                    << </a>
                </li>
                <li class="page-item "><a class="page-link active" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#"> >> </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
    
      </div>
    
    </div>
    </ion-content>
  </div>