<!-- <ion-header>
  <ion-toolbar>
    <ion-title>detalleTutoria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
 -->
<!-- <ion-header>
  <ion-toolbar>
    <ion-title>crudTutoria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
 -->
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>CultSports</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="">
    <ul class="navbar-nav justify-content-end flex-grow-1 p-3">
      <li class="nav-item my-2">
        <a class="nav-link m-auto active" aria-current="page" href="#">Tablero</a>
      </li>
      <li class="nav-item my-2">
        <a class="nav-link" href="#">Documentos</a>
      </li>
      <li class="nav-item dropdown my-2">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Tutorías Deportivas
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" [routerLink]="['/lista-tutorias']">Tutoria Deportiva 1</a></li>
          <li><a class="dropdown-item" href="#">Tutoria 2</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown my-2">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Tutorías Culturales
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" [routerLink]="['/lista-tutorias']">Tutoria Grupal</a></li>
          <li><a class="dropdown-item" href="#">Tutoria 2</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown my-2">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Tutorías Grupales
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" [routerLink]="['/lista-tutorias']">Tutoria Grupal</a></li>
          <li><a class="dropdown-item" href="#">Tutoria 2</a></li>
        </ul>
      </li>
    </ul>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>CultuSports</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <!-- CONTENEDOR PRINCIPAL DE DETALLES DE TUTORÍA -->
    <div class="container text-center">
      <div class="row ">
        <!-- COLUMNA Y CONTENEDOR PARA CARDS DE DATOS DE TUTORÍA -->
        <div class="col-md-4 m-auto  text-center">
          <div class="card p-1 ">
            <div class="row my-1">
              <div class="col">
                <div class=" card-bg-green m-auto text-white">
                  <div class="row  py-2">
                    <div class="col ">
                      <ion-icon name="calendar-number-outline" class="calendar-icon"></ion-icon>
                      <div class="fw-bold">
                        <small class="text-dark  ">Lunes</small>
                      </div>
                      <span class="fw-bold text-dark">
                        00:00 - 00:00
                      </span>
                    </div>
                    <div class="col">
                      <ion-icon name="calendar-number-outline" class="calendar-icon"></ion-icon>
                      <div class="fw-bold">
                        <small class="text-dark  ">Lunes</small>
                      </div>
                      <span class="fw-bold text-dark">
                        00:00 - 00:00
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row my-1">
              <div class="col ">
                <div class="p-2 card-bg-red m-auto text-white">
                  <div class="row ">
                    <div class="col p-1">
                      <ion-icon name="location-outline" class="red-icon"></ion-icon>
                      <div class="fw-bold">
                        <small class="text-dark  ">Lugar</small>
                      </div>
                      <span class="fw-bold text-dark">
                        Lugar de Tutoria
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class=" p-2 card-bg-blue m-auto text-white">
                  <div class="row ">
                    <div class="col p-1">
                      <ion-icon name="people-outline" class="blue-icon"></ion-icon>
                      <div class="fw-bold">
                        <small class="text-dark  ">Cupo</small>
                      </div>
                      <span class="fw-bold fs-6 text-dark">
                        X lugares
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row my-1">
              <div class="col">

                <div class="p-2 card-bg-blue m-auto text-white">
                  <div class="row ">
                    <div class="col p-1">
                      <ion-icon name="time-outline" class="blue-icon"></ion-icon>
                      <div class="fw-bold">
                        <small class="text-dark  ">Hrs. Totales</small>
                      </div>
                      <span class="fw-bold text-dark">
                        15 horas de actividad
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="p-2 card-bg-red m-auto text-white">
                  <div class="row ">
                    <div class="col p-1">
                      <ion-icon name="person-outline" class="red-icon"></ion-icon>
                      <div class="fw-bold">
                        <small class="text-dark  ">Encargado</small>
                      </div>
                      <span class="fw-bold text-dark">
                        Nombre Encargado
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- COLUMA Y CONTENDOR PARA OBJETIVOS, REGLAS Y MATERIALES DE TUTORÍA -->
        <div class="col-md-8">
          <div class="card p-3">
            <div class=" text-start row">
              <div class="col-10">
                <h6 class="fw-bold">Sobre la Tutoría</h6>
              </div>
              <div class="col-2 m-auto pe-2 text-end">
                <button class="btn-edit " [routerLink]="['/crud-tutoria']">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil"
                    viewBox="0 0 16 16">
                    <path
                      d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                  </svg>
                </button>
              </div>
            </div>
            <div class="card-body p-0">
              <div class="row my-2 m-auto">
                <div class="col">
                  <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header p-0 m-0" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                          aria-expanded="true" aria-controls="collapseOne">
                          <h6 class="h6-semibold">Objetivo de la tutoría</h6>
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body text-start">
                          <p class="body-2 p-0 m-auto"><strong>Agregar Objetivo de la Tutoría</strong></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row my-2 m-auto">
                <div class="col">
                  <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header p-0 m-0" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                          aria-expanded="false" aria-controls="collapseThree">
                         <h6 class="h6-semibold">Materiales para Tutoría</h6>
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body text-start">
                          <p class="body-2">Ingresar Materiales requeridos para la actividad... <strong>*Opcional.</strong> </p>
                          <ol class="list-group list-group-numbered">
                            <li class="list-group-item">A list item</li>
                            <li class="list-group-item">A list item</li>
                            <li class="list-group-item">A list item</li>
                          </ol>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header m-0 p-0" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                          aria-expanded="false" aria-controls="collapseTwo">
                        <h6 class="h6-semibold">Reglas de Tutoría</h6>
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body text-start">
                          <p class="body-2">Ingresar las reglas de la actividad... <strong class="text-danger">*Obligatorio.</strong> </p>
                          <ol class="list-group list-group-numbered">
                            <li class="list-group-item">A list item</li>
                            <li class="list-group-item">A list item</li>
                            <li class="list-group-item">A list item</li>
                          </ol>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row my-2 p-2 " style="background-color: #F1F5F9;">
                <div class="col-6 m-auto">
                  <small class="fw-bold">Fecha de Inicio</small>
                  <p class="fs-6 fw-bold text-primary">00/00/00</p>
                </div>
                <div class="col-6 m-auto">
                  <small class="fw-bold">Fecha Termino</small>
                  <p class="fs-6 fw-bold text-danger">00/00/00</p>
                </div>
              </div>
              
            </div>
            

          </div>
        </div>
        <!-- CONTENEDOR GENERAL DE TABLA DE ALUMNOS INSCRITOS A TUTORÍA -->
        <div class="container my-2 ">
          <div class="  card-home">
            <div class="card-header text-start ">
              <div class="row my-auto px-4">
                <div class="col-md-8 text-uppercase">
                  <h6 class="fw-bold px-4">Lista de alumnos de Tutoría</h6>
                </div>
                <div class="col-md-4 my-auto">
                  <form class="d-flex px-4" role="search">
                    <input class="form-control  me-2" type="search" placeholder="Search" aria-label="Search">
                  </form>
                </div>
              </div>
            </div>
           
            <!-- SEGUNDA TABLA -->
            <div class="card-body mt-4">
              <div class="container">
                <div class="table-responsive">
                <table class="table text-start">
                  <!-- Encabezado de la tabla -->
                  <thead>
                    <tr>
                      <th scope="col-auto">Matricula</th>
                      <th scope="col-auto">Nombre</th>
                      <th scope="col-auto">Carrera</th>
                      <th scope="col-auto">Grupo</th>
                      <th scope="col-auto">Nro. Teléfonico</th>
                      <th scope="col-auto">Estatus</th>
                    </tr>
                  </thead>
                  <!-- Cuerpo de la tabla -->
                  <tbody>
                    <tr>
                      <th scope="row">UT******</th>
                      <td>Nombre </td>
                      <td>Nombre Tutoria</td>
                      <td>Grupo</td>
                      <td>000-000-0000</td>
                      <td>
                        <a class=" btn-status status-noL dropdown-toggle" type="button" data-bs-toggle="dropdown"
                          aria-expanded="false">
                          No Liberado
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item fw-bold" href="#"><small>No Liberado</small></a></li>
                          <li><a class="dropdown-item fw-bold" href="#"><small>Pendiente</small></a></li>
                          <li><a class="dropdown-item fw-bold" href="#"><small>Si Liberado</small></a></li>
                          <li><a class="dropdown-item fw-bold" href="#"><small>Situación Mdca</small></a></li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">UT******</th>
                      <td>Nombre </td>
                      <td>Nombre Tutoria</td>
                      <td>Grupo</td>
                      <td>000-000-0000</td>
                      <td>
                        <a class=" btn-status statusP dropdown-toggle" type="button" data-bs-toggle="dropdown"
                          aria-expanded="false">
                          Pendiente
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item fw-bold" href="#"><small>No Liberado</small></a></li>
                          <li><a class="dropdown-item fw-bold" href="#"><small>Pendiente</small></a></li>
                          <li><a class="dropdown-item fw-bold" href="#"><small>Si Liberado</small></a></li>
                          <li><a class="dropdown-item fw-bold" href="#"><small>Situación Mdca</small></a></li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">UT******</th>
                      <td>Nombre </td>
                      <td>Nombre Tutoria</td>
                      <td>Grupo</td>
                      <td>000-000-0000</td>
                      <td>
                        <a class=" btn-status status-siL dropdown-toggle" type="button" data-bs-toggle="dropdown"
                          aria-expanded="false">
                          Liberado
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item fw-bold" href="#"><small>No Liberado</small></a></li>
                          <li><a class="dropdown-item fw-bold" href="#"><small>Pendiente</small></a></li>
                          <li><a class="dropdown-item fw-bold" href="#"><small>Si Liberado</small></a></li>
                          <li><a class="dropdown-item fw-bold" href="#"><small>Situación Mdca</small></a></li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">UT******</th>
                      <td>Nombre </td>
                      <td>Nombre Tutoria</td>
                      <td>Grupo</td>
                      <td>000-000-0000</td>
                      <td>
                        <a class=" btn-status status-Mdc dropdown-toggle" type="button" data-bs-toggle="dropdown"
                          aria-expanded="false">
                          Situación Mdca
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item fw-bold" href="#"><small>No Liberado</small></a></li>
                          <li><a class="dropdown-item fw-bold" href="#"><small>Pendiente</small></a></li>
                          <li><a class="dropdown-item fw-bold" href="#"><small>Si Liberado</small></a></li>
                          <li><a class="dropdown-item fw-bold" href="#"><small>Situación Mdca</small></a></li>
                        </ul>
                      </td>
                    </tr>
        
        
                  </tbody>
                </table>
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                      <a class="page-link fw-bold">
                        << </a>
                    </li>
                    <li class="page-item "><a class="page-link active" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#"> >> </a>
                    </li>
                  </ul>
                </nav>
              </div>
              </div>
            </div>
        
          </div>
        
        </div>
      </div>
      <div class="container my-2">
        <div class="row">
          <div class="col-md-6 ">
            <div class="card p-2">
              <div class="header row">
                <div class="col-md-6 text-start">
                  <h6 class="h6-semibold">Actividades de Tutoría</h6>
                </div>
    
                <div class="col-md-6  m-auto text-end">
                  <button class=" btn btn-addTuto ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus"
                      viewBox="0 0 16 16">
                      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                    </svg>
                  </button>
                </div>
                
              </div>
              <!-- CONTENEDOR PARA LAS LISTAS DE ACTIVIDADES DE LA TUTORÍA /  CRONOGRAMA DE ACTIVIDADES -->
              <div class="my-2 ">
              <ul class="list-group text-start">
                <li class="list-group-item d-flex  ">
                  <input class="form-check-input me-2 m-auto text-start" type="checkbox" value="" id="firstCheckbox">
                  <div class="ms-2 me-auto text-start">
                      <div class="fw-bold sub-1">Nombre de Actividad</div>
                      <small class="date-activity">Fecha - Lugar - Hora</small>
                  </div>
                </li>
              </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card p-2">
                <div class="header row">
                  <div class="col-md-6 text-start">
                    <h6 class="h6-semibold">Archivos de Tutoría</h6>
                  </div>
                
                  <div class="col-md-6  m-auto text-end">
                    <button class=" btn btn-addTuto ">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder-plus"
                        viewBox="0 0 16 16">
                        <path
                          d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z" />
                        <path
                          d="M13.5 10a.5.5 0 0 1 .5.5V12h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V13h-1.5a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z" />
                      </svg>
                    </button>
                  </div>
                
                </div>
                <div class="card-body">
                  <ul class="list-group ">
                    <li class="list-group-item d-flex justify-content-between align-items-start ">
                      <div class="row m-auto text-start ">
                        <div class="col">
                         <p class="sub-1">Nombre del Archivo</p>
                        </div>
                        <div class="col ">
                          <button class="btn btn-addTuto text-end">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-down"
                              viewBox="0 0 16 16">
                              <path fill-rule="evenodd"
                                d="M7.646 10.854a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 9.293V5.5a.5.5 0 0 0-1 0v3.793L6.354 8.146a.5.5 0 1 0-.708.708l2 2z" />
                              <path
                                d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z" />
                            </svg>
                          </button>
                        </div>
                      </div>
                    </li>
                    
                    
                  </ul>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</div>