<!-- <ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
 -->
<ion-content class="ion-padding h-100">
  <div class=" d-flex h-100 w-100 p-3  pb-4 my-auto flex-columnn">
    <div class=" m-auto ">
      <h5 class="h5-medium mb-auto">Registtrate y Participa en las Actividades</h5>
      <h2 class="h2-bold py-2 mb-5">Culturales & Deportivas</h2>
      <div class="container m-auto text-center">
        <ion-grid class="o">
          <ion-row class=" text-center mt-5">
            <ion-col size="12" size-sm="3" class="m-auto">
              <ion-icon name="chevron-down-outline"></ion-icon>
            </ion-col>
            <ion-col size="12" size-sm="3" class="m-auto">
              <ion-icon name="chevron-down-outline"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
  <!-- CONTENEDOR CARDS HOME -->

  <div class="container container-card m-auto">
    <div class="row g-0">
      <div class="col-sm-12 col-lg-6 g-0 g-lg-4">
        <div class="card text-bg-dark text-end my-1 m-lg-4">
          <img src="assets/img/deportiva.jpg" class="card-img" style="filter: brightness(50%);" alt="...">
          <div class="card-img-overlay m-auto">
            <h3 class="h3-bold  card-title">Actividades Deportivas</h3>
            <button [routerLink]="['/lista-actividades']" class="btn btn-primario ">Descubrir <ion-icon
                name="chevron-forward-outline"></ion-icon></button>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6 g-0 g-lg-4">
        <div class="card text-bg-dark text-end my-1 m-lg-4">
          <img src="assets/img/cultural.jpg" class="card-img" style="filter: brightness(50%);" alt="...">
          <div class="card-img-overlay m-auto">
            <h3 class="h3-bold  card-title">Actividades Culturales</h3>
            <button [routerLink]="['/lista-actividades']" class="btn btn-primario ">Descubrir <ion-icon
                name="chevron-forward-outline"></ion-icon></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- CONTENEDOR PARA EL FEED -->
  <div class="container-fluid feed-container m-auto">
  <div class="row">
    <div class="col-sm-12 col-lg-4 ">
      <img src="./assets/img/login.png" alt="" class="img-fluid">
    </div>
    <div class="col-sm-12 col-lg-8">
      <div class="title-feed text-center">
        <h3 class="h3-bold">#deporTVCO</h3>
      </div>
      <div class="card  p-0 m-auto my-2" style="max-width: 28rem;" *ngFor="let c of cards; let i = index">
        <div class="card-header p-0">
          <img [src]=c.imgTuto class="" alt="">
        </div>
        <div class="card-body py-sm-0">
          <h5 class="h5-bold card-title text-black"> {{c.nombre}} </h5>
          <p class="card-text"><small class="text-body-secondary"> {{c.fecha}} </small></p>
          <p class="card-text text-dark"> {{c.descripcion}} </p>
        </div>
        <div class="card-footer p-sm-0 p-lg-2 text-black">
          <div class="row  m-auto text-center ">
            <div class="col">
              <button class="btn btn-like">
                <ion-icon name="heart-outline" class=" text-primary"></ion-icon>
                {{c.likes}}
              </button>
              
            </div>
            <div class="col">
              <button class="btn btn-dislike ">
                <ion-icon name="heart-dislike-outline" class="text-danger"></ion-icon>
                {{c.dislikes}} 
              </button>
            </div>
            <div class="col">
              <button class="btn btn-comment">
                 <ion-icon name="chatbubble-outline" class="text-success"></ion-icon>
                  {{c.comments}}
              </button>
            </div>
            <div class="col">
              <button class="btn btn-shared">
                <ion-icon name="arrow-redo-outline" class="text-black"></ion-icon>
                {{c.shared}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>


  <!-- <div class="container  container-card">
   <div class="row">
    <div class="col-sm-12 col-lg-6 m-auto ">
      <div class="card my-4 bg-transparent card-tuto text-end">
        <img src="assets/img/deportiva.jpg" class="" style="filter: brightness(50%);" alt="...">
        <div class="card-img-overlay m-auto">
          <h3 class="h3-bold  ">Actividades Deportivas</h3>
          <button [routerLink]="['/lista-actividades']" class="btn btn-primario mt-4 ">Descubrir <ion-icon
              name="chevron-forward-outline"></ion-icon></button>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-6">
      <div class="card bg-transparent card-tuto text-end my-4 ">
        <img src="assets/img/cultural.jpg" class="  " style="filter: brightness(50%);" alt="...">
        <div class="card-img-overlay m-auto ">
          <h3 class="h3-bold">Actividades Culturales</h3>
          <button [routerLink]="['/lista-actividades']" class="btn btn-primario mt-4 ">Descubrir <ion-icon
              name="chevron-forward-outline"></ion-icon></button>
        </div>
      </div>
    </div>
   </div>
  </div> -->
  <div class="container-fluid social-feed py-3 text-lg-center">
 <!--    <div class="row">
      <div class="col-sm-12 col-lg-4">
        <img src="./assets/img/login.png" alt="">
      </div>
      <div class="col-sm-12 col-lg-8 container-feed">
        <div class="container-fluid">
          <h3 class="h3-bold">#deporTVCO</h3>
          <ion-card *ngFor="let c of cards; let i = index">
            <img alt="Silhouette of mountains" [src]=c.imgTuto />
            <ion-card-header>
              <span class="sub-2"> {{c.fecha}} </span>
              <ion-card-title class="h6-bold">{{c.nombre}} </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-card-subtitle class="body-2">{{c.descripcion}}</ion-card-subtitle>
              <ion-grid>
                <ion-row>
                  <ion-col size-md="4" class="text-center btn-publi">
                    <ion-icon name="heart-outline" class="text-primary"></ion-icon>
                    {{c.likes}}
                  </ion-col>
                  <ion-col size-md="4" class="text-center btn-publi">
                    <ion-icon name="heart-dislike-outline" class="text-danger"></ion-icon>
                    {{c.dislikes}} </ion-col>
                  <ion-col size-md="4" class="text-center btn-publi">
                    <ion-icon name="chatbubble-outline" class="text-black"></ion-icon>
                    {{c.comments}} </ion-col>
                  <ion-col size-md="12" class="text-center btn-publi">
                    <ion-icon name="arrow-redo-outline" class="text-black"></ion-icon>
                    {{c.shared}}
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </div>
        <div class="container-fluid  ">
        </div>
      </div>
    </div> -->
   
  </div>
</ion-content>